<!-- me-settings -->
<div class="list text-minor">
    <li class="item item-toggle text-minor">
        Notification
        <label class="toggle">
            <input type="checkbox" ng-model="setting.isPushMsg" ng-init="setting.isPushMsg = true">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </li>
    <a href="" class="item">
        Clear Cache
    </a>
    <a href="" ui-sref="" class="item item-icon-right">
        Feedback
        <i class="icon ion ion-ios-arrow-right"></i>
    </a>
</div>