<ion-view view-title="Profile">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="tab.me">
            <i class="ion ion-ios-arrow-left"></i>
            Cancel
        </button>
    </ion-nav-buttons>
    <ion-content class="me-update-profile-page">
        <div class="list">
            <label class="item item-icon-right">
                Avatar
                <a href="" class="icon">
                    <img src="" alt="">
                </a>
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Gender
                </div>
                <select>
                    <option value="">None</option>
                    <option value="">Male</option>
                    <option value="">Female</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea name="" rows="5" placeholder="Brief description for yourself"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col col-offset-10 col-80">
                <button class="button button-block button-general">Update</button>
            </div>
        </div>
    </ion-content>
</ion-view>