<ion-view view-title="Me">
    <ion-content class="me-page">
        <div class="user-info p15">
            <div class="row">
                <div class="col col-offset-10 col-80 text-center">
                    <img src="" alt="Avatar" class="user-avatar">
                </div>
            </div>
            <div class="row">
                <div class="col col-offset-10 col-80 text-center">
                    <p class="fs20">Username</p>
                    <p class="fs14">One sentence to intro self.</p>
                </div>
            </div>
            <div class="row text-center mt10">
                <div class="col col-33">
                    <a href="">
                        <p class="fs18">{{ 2343 | numconvert }}</p>
                        <p>Follower</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="">
                        <p class="fs18">{{ 45344 | numconvert }}</p>
                        <p>Following</p>
                    </a>
                </div>
                <div class="col col-33">
                    <a href="">
                        <p class="fs18">{{ 100 }}</p>
                        <p>Photo</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="setting-selection text-minor">
            <div class="list">
                <a href="" class="item item-icon-left item-icon-right">
                    <i class="fa fa-camera-retro mr15"></i>
                    My creations
                    <i class="icon ion ion-ios-arrow-right"></i>
                </a>
                <a href="" class="item item-icon-left item-icon-right">
                    <i class="fa fa-bookmark mr20"></i>
                    My favorites
                    <i class="icon ion ion-ios-arrow-right"></i>
                </a>
                <a href="" class="item item-icon-left item-icon-right">
                    <i class="fa fa-shopping-bag mr20"></i>
                    Bought
                    <i class="icon ion ion-ios-arrow-right"></i>
                </a>
                <a href="" class="item item-icon-left item-icon-right">
                    <i class="fa fa-cog mr20"></i>
                    Settings
                    <i class="icon ion ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>