<ion-view view-title="Me">
    <ion-content class="me-page">
        <div class="user-info p15">
            <div class="row">
                <div class="col col-offset-10 col-80 text-center">
                    <img src="" alt="Avatar" class="user-avatar">
                </div>
            </div>
            <div class="row">
                <div class="col col-offset-10 col-80 text-center">
                    <p class="fs20">Username</p>
                    <p class="fs14">One sentence to intro self.</p>
                </div>
            </div>
            <div class="row text-center mt10">
                <div class="col col-33">
                    <p class="fs18">{{ 50 }}</p>
                    <p>Follower</p>
                </div>
                <div class="col col-33">
                    <p class="fs18">{{ 34 }}</p>
                    <p>Following</p>
                </div>
                <div class="col col-33">
                    <p class="fs18">{{ 100 }}</p>
                    <p>Photo</p>
                </div>
            </div>
        </div>
        <div class="setting-selection"></div>
    </ion-content>
</ion-view>