/* styles for create page */
.create-page {
    background-color: #ffffff;

    .create-page-upload-ctrl {
        @include translateposition(0, 40%);
    }

    .card {
        margin: 0;

        .item {
            margin: 4px;
        }
    }
}