@import "../common/variables";

/* styles for start pages */
.start-page,
.guide-to-login {
    .slider-pager {
        .slider-pager-page {
            color: $text-bright-color;
        }
    }

    .slide-item {
        width: 100vw;
        height: 100vh;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

        .intro-content {
            padding-top: 15px;
            @include translateposition(0, 520px);
        }

        .entry {
            @include translateposition(0, 35%);

            .logo-content {
                overflow: auto;

                p {
                    font-size: 4.5em;
                }
            }

            .button-holder {
                margin-top: 250px;
            }

            .cancel-login {
                font-size: 16px;
                margin-top: 10px;
            }

            a {
                display: block;
                text-decoration: none;

                &:active {
                    color: $text-minor-color;
                    text-decoration: none;
                }
            }
        }

        @include media-query( $screen-i5 ) {
            h4 {
                font-size: 16px;
            }

            .intro-content {
                @include translateposition(0, 450px);
            }

            .entry {
                .logo-content {
                    p {
                        font-size: 4em;
                    }
                }

                .button-holder {
                    margin-top: 200px;
                }
            }
        }

        &.slide1 {
            background: url("../images/start/start1.png") center center no-repeat;
            background-size: contain;
        }

        &.slide2 {
            background: url("../images/start/start2.png") center center no-repeat;
            background-size: contain;
        }

        &.slide3 {
            background: url("../images/start/start3.png") center center no-repeat;
            background-size: contain;
        }
    }
}

.guide-to-login {
    .slide-item {
        &.slide3 {
            background: url("../images/start/guide_to_login.png") center center no-repeat;
            background-size: contain;
        }
    }
}

/* styles for verify page */
.verify-page {
    .verify-form {
        @include translateposition(0, 50%);

        input[type="text"] {
            width: 100%;
            margin-top: 40px;
            border-radius: 0;
        }
    }
}