<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content scroll="false" class="guide-to-login">
        <ion-slide-box class="text-center" auto-play="false" show-pager="false">
            <!-- slide page 3 -->
            <ion-slide class="slide-item slide3">
                <div class="entry">
                    <div class="row text-center logo-content">
                        <div class="col col-offset-10 col-80">
                            <p class="text-bright">Pixes</p>
                        </div>
                    </div>
                    <div class="row text-center button-holder">
                        <div class="col col-offset-10 col-80">
                            <button class="button button-block button-general m0" ng-click="start.signIn()">Sign In</button>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col col-offset-10 col-80">
                            <button class="button button-block button-bordered m0" back>Cancel</button>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>