<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- tab-recommend -->
    <ion-tab title="Recommend" icon-off="fa fa-star-o" icon-on="fa fa-star" ui-sref="tab.recommend_list" ui-sref-active="**.recommend_**">
        <ion-nav-view name="tab-recommend"></ion-nav-view>
    </ion-tab>

    <!-- page-explore -->
    <ion-tab title="Explore" icon-off="fa fa-book" icon-on="fa fa-book" ui-sref="tab.explore.people" ui-sref-active="**.explore.**">
        <ion-nav-view name="tab-explore"></ion-nav-view>
    </ion-tab>

    <!-- page-create -->
    <ion-tab title="Create" icon-off="fa fa-plus-circle" icon-on="fa fa-plus-circle" ui-sref="tab.create" ui-sref-active="**.create.**">
        <ion-nav-view name="tab-create"></ion-nav-view>
    </ion-tab>

    <!-- page-me -->
    <ion-tab title="Me" icon-off="fa fa-user" icon-on="fa fa-user" ui-sref="tab.me" ui-sref-active="**.me.**">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>
</ion-tabs>