/*App's main color, such as main button's background, border etc.*/
/*App's main color, such as main button's background, border etc.*/
.bar.bar-royal {
  background: #1dd1ff !important; }

.button {
  font-weight: normal;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  outline: none; }
  .button.button-block.button-general {
    color: #ffffff;
    background-color: #1dd1ff; }
    .button.button-block.button-general:active {
      color: #ffffff;
      background-color: #1dbdeb; }
  .button.button-block.button-bordered {
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff; }
    .button.button-block.button-bordered:active {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.2); }

/*App's main color, such as main button's background, border etc.*/
/*App's main color, such as main button's background, border etc.*/
.start-page {
  resize: vertical;
  background: url("../images/start/start_bg@2x.png") center center no-repeat;
  background-size: contain; }
  .start-page .title-content {
    margin-bottom: 80px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%); }

.text-light {
  color: #fafafa; }
