/*App's main color, such as main button's background, border etc.*/
/*App's main color, such as main button's background, border etc.*/
.bar.bar-royal {
  background: #8632f8; }

.button {
  border: none; }
  .button.button-block.button-royal {
    background: #8632f8; }

/*App's main color, such as main button's background, border etc.*/
.general-btn-outline {
  background: transparent;
  border: 1px solid #8632f8;
  color: #8632f8; }
  .general-btn-outline:hover, .general-btn-outline:active, .general-btn-outline.active {
    background: #8632f8;
    color: #fafafa; }

.login-btn-outline {
  background: transparent;
  border: 1px solid #fafafa;
  color: #fafafa; }
  .login-btn-outline:hover, .login-btn-outline:active, .login-btn-outline.active {
    background: #fafafa;
    color: #8632f8; }

/*App's main color, such as main button's background, border etc.*/
.main-body {
  resize: vertical;
  background: url("../images/start/start_bg@2x.png") center center no-repeat;
  background-size: contain; }
  .main-body .title-content {
    margin-bottom: 80px;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%); }

.text-light {
  color: #fafafa; }

.login-content,
.reg-content {
  opacity: 0; }

.hide-ele {
  display: none; }
