<ion-view view-title="Explore">
    <ion-content class="padding explore-page">
        <div class="button-bar">
            <button class="button fs14"
                    ui-sref="tab.explore.people"
                    ui-sref-active="active"
                    ng-class="{active: $state.includes('*.people')}">People</button>
            <button class="button fs14"
                    ui-sref="tab.explore.photo"
                    ui-sref-active="active"
                    ng-class="{active: $state.includes('*.photo')}">Photos</button>
        </div>

        <div ui-view="subTab" class="mt20"></div>
    </ion-content>
</ion-view>