<div class="card animated fadeIn explore-people">
    <div class="item item-avatar mb10" ng-repeat="people in explore.explorePeopleData">
        <img ng-src="{{ people.avatar_url }}" alt="Avatar">
        <h3 class="fwn">{{ people.name }}</h3>
        <p>
            <i class="fa fa-user m5"></i>{{ people.follower_count | numconvert }}
            <i class="fa fa-user m5"></i>{{ people.following_count | numconvert }}
            <i class="fa fa-photo m5"></i>{{ people.photo_count | numconvert }}
        </p>
        <button class="button add-to-following">
            <i class="fa" ng-class="{'fa-plus': people.status === 0, 'fa-check': people.status === 1}"></i>
            {{ people.status | dict: 'followOrNot' }}
        </button>
    </div>
</div>