<div class="animated fadeIn explore-photo">
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
                <p>Landscape</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
                <p>People</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
                <p>Animal</p>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
                <p>Landscape</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
                <p>People</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
                <p>Animal</p>
            </a>
        </div>
    </div>
</div>