<div class="animated fadeIn explore-photo">
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list">
                <img src="images/explore/nature.jpg" alt="" nav-direction="forward">
                <p>Nature</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/sky.jpg" alt="">
                <p>Sky</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/snow.jpg" alt="">
                <p>Snow</p>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/city.jpg" alt="">
                <p>City</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/people.jpg" alt="">
                <p>People</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/micro.jpg" alt="">
                <p>Micro</p>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/music.jpg" alt="">
                <p>Music</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/baby.jpg" alt="">
                <p>Baby</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/old.jpg" alt="">
                <p>Old</p>
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/car.jpg" alt="">
                <p>Car</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/landscape.jpg" alt="">
                <p>Landscape</p>
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type" ui-sref="tab.explore_photo_list" nav-direction="forward">
                <img src="images/explore/light.jpg" alt="">
                <p>Light</p>
            </a>
        </div>
    </div>
</div>