<div class="animated fadeIn">
    <div class="row text-center">
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
            </a>
        </div>
        <div class="col col-33">
            <a href="" class="photo-type">
                <img src="images/explore/photo.png" alt="">
            </a>
        </div>
    </div>
</div>