<!-- Recommend detail page -->
<ion-view view-title="Create">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="tab.recommend_list">
            <i class="ion ion-ios-arrow-left"></i>
            Back
        </button>
    </ion-nav-buttons>
    <ion-content class="recommend-detail-page">

        <!-- photo info -->
        <div class="photo-info">
            <div class="card">
                <div class="item">
                    <h2>{{ recommendDetail.photoInfo.title._content | split: {seperator: '/', count: 0} }}</h2>
                    <p>
                        <i class="fa fa-eye m5"></i>{{ $stateParams.count_fav | numconvert }}
                        <i class="fa fa-star m5"></i>{{ $stateParams.count_comments | numconvert }}
                    </p>
                    <button class="button star-this-photo" ng-click="recommendDetail.starPhoto()">
                        <i class="fa fa-star" ng-class="{'star': !!recommendDetail.isStar}"></i>
                    </button>
                    <button class="button download-this-photo">
                        <i class="fa fa-download"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="text-center">
            <img ng-src="{{ $stateParams.img_url }}" alt="" width="375" class="photo-body">
        </div>

        <!-- user info -->
        <div class="user-info">
            <div class="card">
                <div class="item item-avatar">
                    <img ng-src="{{ recommendDetail.photoInfo.owner.iconurls.medium }}" alt="Avatar">
                    <h2>{{ $stateParams.ownername }}</h2>
                    <p>
                        <i class="fa fa-user m5"></i>{{ 543 }}
                        <i class="fa fa-photo m5"></i>{{ 112 }}
                    </p>
                    <button class="button add-to-following" ng-init="recommendDetail.status = 1" ng-click="recommendDetail.status = !recommendDetail.status">
                        <i class="fa" ng-class="{'fa-plus': +!recommendDetail.status, 'fa-check': +recommendDetail.status}"></i>
                        {{ +recommendDetail.status | dict: 'followOrNot' }}
                    </button>
                </div>
            </div>
        </div>

        <!-- user's comments -->
        <div class="padding comment text-minor">
            <p class="fs12">COMMENTS({{ recommendDetail.photoInfo.comments._content | numconvert }})</p>
            <div class="card">
                <div class="item item-avatar mb10" ng-repeat="comment in recommendDetail.comments">
                    <img ng-src="{{ comment.iconurls.medium }}" alt="Avatar">
                    <h2>{{ comment.authorname }}</h2>
                    <p class="text-general">{{ comment._content }}</p>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer add-comment">
        <button class="button button-block button-small button-general" ng-click="recommendDetail.leaveComment()">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</ion-view>