<ion-view view-title="Recommend">
    <ion-content class="recommend-page">
        <div class="list card">
            <div class="item text-center">
                <img class="m0" src="images/recommend/photo.png" width="355" alt="">
                <div class="row text-center operation-bar">
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-star-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-comment-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-thumbs-o-up text-bright"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="item text-center p0">
                <img src="images/recommend/photo.png" width="355" alt="">
                <div class="row text-center operation-bar">
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-star-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-comment-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-thumbs-o-up text-bright"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item text-center p0">
                <img src="images/recommend/photo.png" width="355" alt="">
                <div class="row text-center operation-bar">
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-star-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-comment-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-thumbs-o-up text-bright"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item text-center p0">
                <img src="images/recommend/photo.png" width="355" alt="">
                <div class="row text-center operation-bar">
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-star-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-comment-o text-bright"></i>
                        </a>
                    </div>
                    <div class="col col-33">
                        <a href="">
                            <i class="fa fa-thumbs-o-up text-bright"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>