/* styles for access pages */
.login-page,
.reg-page {
    @include translateposition(0, 10%);

    .logo-content {
        margin-bottom: 20px;
    }

    .item {
        padding: 10px 0;
        border: 0;

        i {
            margin-right: 10px;
            margin-bottom: -5px;
            color: $text-minor-color;
        }
    }
}