/* styles for explore page */
.explore-page {
    .explore-people {}

    .button-bar {
        .button {
            min-height: 30px;
            line-height: 30px;
            color: $text-highlight-color;
            background-color: transparent;
            border: 1px solid $border-highlight-color;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }

        .active {
            color: $text-bright-color !important;
            background-color: $btn-highlight-bgcolor;
            box-shadow: none;
        }
    }

    /* photo type */
    .explore-photo {
        .photo-type {
            color: $text-minor-color;
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: none;
            }

            img {
                width: 60px;
                height: 60px;
                margin-bottom: 5px;
            }
        }
    }
}