.me-page {
    .user-info {
        height: 250px;
        background: $page-me-bgcolor;

        .user-avatar {
            display: inline-block;
            width: 75px;
            height: 75px;
            border-radius: 100%;
            border: 2px solid $border-light-color;
        }

        .button-edit-profile {
            color: rgba(255, 255, 255, 0.8);
            min-height: 20px;
            line-height: 20px;
            padding: 0 8px;
            border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 4px;
        }

        p {
            color: $text-bright-color;
        }

        a {
            text-decoration: none;

            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }

    @include media-query($screen-i5) {
        .user-info {
            height: 220px;

            p {
                font-size: 12px;
            }

            .user-avatar {
                width: 60px;
                height: 60px;
            }

            .info-name {
                font-size: 16px;
            }

            .info-intro {
                font-size: 13px;
            }

            .count {
                font-size: 14px;
            }

            .button-edit-profile {
                font-size: 12px;
                line-height: 18px;
            }
        }

    }
}