/* styles for recommend page */
.recommend-detail-page {
    .user-info {
        .star-this-photo,
        .download-this-photo {
            position: absolute;
            top: 27px;
            min-height: 24px;
            font-size: 1.2em;
            line-height: 24px;
            color: $text-minor-color;
            background-color: transparent;

            &:active,
            &:focus,
            &.activated {
                box-shadow: none;
            }
        }

        .star-this-photo {
            right: 15px;
        }

        .download-this-photo {
            right: 60px;
        }

        .card {
            .item {
                border: none;
                border-bottom: 1px solid $border-light-color;
                border-radius: 0;
                box-shadow: none;
            }
        }
    }
}