@import "variables";

.bar {
    &.bar-royal {
        background: $app-theme-color;
    }
}

.button {
    font-weight: normal;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    outline: none;

    &.button-block {
        &.button-general {
            color: #ffffff;
            background-color: $btn-highlight-bgcolor;

            &:active {
                color: #ffffff;
                background-color: $btn-highlight-active-bgcolor;
            }
        }

        &.button-bordered {
            color: #ffffff;
            background-color: transparent;
            border: 2px solid #ffffff;

            &:active {
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }
}