@import "variables";

.start-page {
    resize: vertical;
    background: url("../images/start/start_bg@2x.png") center center no-repeat;
    background-size: contain;

    .content {
        .title-content {
            margin-bottom: 200px;
        }

        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);
        -ms-transform: translateY(20%);
        -o-transform: translateY(20%);
        transform: translateY(20%);
    }
}