/* App's main color, such as main button's background, border etc. */
$app-theme-color: #1dd1ff !important;

/* text colors */
$text-general-color: #232323;
$text-bright-color: #fafafa;
$text-warning-color: #eb5e18;
$text-danger-color: #db2c2a;
$text-disabled-color: #afafaf;
$text-minor-color: #878787;
$text-highlight-color: $app-theme-color;

/* button's background colors */
$btn-general-bgcolor: #f5f5f5;
$btn-highlight-bgcolor: $app-theme-color;
$btn-highlight-active-bgcolor: #1db2e0;
$btn-disabled-bgcolor: afafaf;
$btn-warning-bgcolor: #eb5e18;
$btn-danger-bgcolor: #f62c2a;

/* border's colors */
$border-light-color: #eeeeee;
$border-input-color: #d2d2d2;
$border-highlight-color: $app-theme-color;

/* page's background colors */
$general-page-bgcolor: #ffffff;
$shallow-page-bgcolor: #f5f5f5;

$page-me-bgcolor: #28c2d0;

/* for media-queries */
$screen-i5: 320px;
$screen-i6: 375px;