<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Explore" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos" ui-sref="tab.explore">
        <ion-nav-view name="tab-explore"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Favorites" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ui-sref="tab.favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Me" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.me">
        <ion-nav-view name="tab-me"></ion-nav-view>
    </ion-tab>
</ion-tabs>