<ion-view view-title="Sign In" hide-nav-bar="true">
    <ion-content scroll="false" class="start-page">
        <div class="title-content animated fadeIn">
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <h2 class="text-light text-logo">Pixes</h2>
                    <h4 class="text-light">Find the pictures you want</h4>
                </div>
            </div>
        </div>

        <div class="animated fadeIn">
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-block button-general" ui-sref="access.login">Sign In</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-block button-bordered">Sign Up</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-clear">
                        <p class="text-light">No, Just let me have a look.</p>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>