<ion-view view-title="Start" hide-nav-bar="true">
    <ion-content scroll="false" class="start-page animated fadeIn">
        <div class="content">
            <div class="title-content">
                <div class="row text-center">
                    <div class="col col-offset-10 col-80">
                        <h2 class="text-bright text-logo">Pixes</h2>
                        <h4 class="text-bright">Find the pictures you want</h4>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-block button-general" ui-sref="access.login">Sign In</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-block button-bordered" ui-sref="access.register">Sign Up</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-clear">
                        <p class="text-bright">No, Just let me have a look.</p>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

