<ion-view view-title="Start" hide-nav-bar="true">
    <ion-content scroll="false" class="start-page animated fadeIn">
        <div class="content">
            <div class="title-content">
                <div class="row text-center">
                    <div class="col col-offset-10 col-80">
                        <h1 class="text-bright">Pixes</h1>
                        <p class="text-bright fs20">Find the pictures you want</p>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-block button-general m0" ui-sref="access.login" nav-direction="enter">Sign In</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-block button-bordered m0" ui-sref="access.register">Sign Up</button>
                </div>
            </div>
            <div class="row text-center">
                <div class="col col-offset-10 col-80">
                    <button class="button button-clear text-bright" ui-sref="tab.recommend_list">No, Just let me have a look.</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

