@mixin noliststyle() {
    list-style: none;

    > li {
        padding: 0;
    }
}

@mixin clearfix() {
    zoom: 1;

    &:after,
    &:before {
        display: block;
        content: '';
        width: 0;
        height: 0;
        clear: both;
    }
}

@mixin translateposition( $x: 0, $y: 0 ) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin hovertransition( $t: 0.2s) {
    -webkit-transition: all $t ease-in-out;
    -moz-transition: all $t ease-in-out;
    -ms-transition: all $t ease-in-out;
    -o-transition: all $t ease-in-out;
    transition: all $t ease-in-out;
}

/* used for media-queries */
@mixin media-query( $screen ) {
    @media screen and (max-width: $screen) {
        @content;
    }
}