<!-- access page -->

<!-- Login part -->
<div class="login-content">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Your Email or Phone Number" ng-model="user.username"/>
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Your Password" ng-model="user.password"/>
        </label>
    </div>
    <ul class="list list-inset">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-checked="true"/>
            </label>
            Remeber Password
        </li>
    </ul>
    <div class="padding">
        <button class="button button-block button-royal" ng-click="signIn()">Sign In</button>
        <button class="button button-block button-default login-btn-outline" access-btn>Sign Up</button>
    </div>
    <div class="bar bar-footer bar-energized" ng-show="isEmpty">
        <div class="title">Can't be empty</div>
    </div>
</div>