<!-- reg page -->

<!-- register part -->
<div class="reg-content">
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Please Enter Your Email or Phone Number"/>
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Please Enter Your Password"/>
        </label>
    </div>
    <div class="padding">
        <button class="button button-block button-royal">Sign Up</button>
        <button class="button button-block login-btn-outline" access-btn>Sign In</button>
    </div>
</div>