<ion-view view-title="Edit Photo">
    <ion-nav-buttons side="left">
        <button class="button button-clear" ui-sref="tab.create">
            <i class="ion ion-ios-arrow-left"></i>
            Cancel
        </button>
    </ion-nav-buttons>
    <ion-content class="page-edit-photo">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Your Photo Name" ng-model="uploadPhoto.photoInfo.name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Photo Type
                </div>
                <select name="" ng-model="uploadPhoto.photoInfo.type" ng-init="uploadPhoto.photoInfo.type = 1">
                    <option value="{{1}}">Nature</option>
                    <option value="{{2}}">Life</option>
                    <option value="{{3}}">Animation</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea name="" rows="5" placeholder="Description for your photo" ng-model="uploadPhoto.photoInfo.description"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col col-offset-10 col-80">
                <button class="button button-block button-general"
                        ng-click="uploadPhoto.uploadPhoto()"
                        ng-disabled="!uploadPhoto.photoInfo.name || !uploadPhoto.photoInfo.type || !uploadPhoto.photoInfo.description">Upload Now</button>
            </div>
        </div>
    </ion-content>
</ion-view>